<!-- Views/Account/Login.cshtml -->
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="/Account/Register">
        <label for="UserName">Username:</label>
        <input type="text" id="UserName" name="UserName" required>
        <br>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>
</html>

